In [1]:
import pandas as pd
print("Pandas Version: "+str(pd.__version__))

Pandas Version: 0.25.1

In [2]:
dataPath = "Data/"

umemploymentPathString = "UNRATE.csv"
CPIPathString = "CPIAUCSL.csv"
HouseholdIncomePathString = "MEHOINUSA672N.csv"
OilPathString = "crudeOil1.csv"
CoreCPIPathString = "DSPIC96.csv"

In [3]:
UnemploymentDF = pd.read_csv(dataPath + umemploymentPathString)
CPIDF = pd.read_csv(dataPath + CPIPathString)
HouseholdIncomeDF = pd.read_csv(dataPath + HouseholdIncomePathString)
OilDF = pd.read_csv(dataPath + OilPathString)
CoreCPIDF = pd.read_csv(dataPath + CoreCPIPathString)

In [4]:
UnemploymentDF = UnemploymentDF.rename(columns={"UNRATE":"Unemployment Rate(%)"})
UnemploymentDF.head()

         DATE  Unemployment Rate(%)
0  1948-01-01                   3.4
1  1948-02-01                   3.8
2  1948-03-01                   4.0
3  1948-04-01                   3.9
4  1948-05-01                   3.5

In [5]:
CPIDF = CPIDF.rename(columns={"CPIAUCSL":"Consumer Price Index"})
CPIDF.head()

         DATE  Consumer Price Index
0  1947-01-01                 21.48
1  1947-02-01                 21.62
2  1947-03-01                 22.00
3  1947-04-01                 22.00
4  1947-05-01                 21.95

In [6]:
df = pd.merge(UnemploymentDF, CPIDF, how="inner", on="DATE")
df = df.rename(columns={"UNRATE":"Unemployment Rate(%)"})
df.head()

         DATE  Unemployment Rate(%)  Consumer Price Index
0  1948-01-01                   3.4                 23.68
1  1948-02-01                   3.8                 23.67
2  1948-03-01                   4.0                 23.50
3  1948-04-01                   3.9                 23.82
4  1948-05-01                   3.5                 24.01

In [7]:
HouseholdIncomeDF = HouseholdIncomeDF.rename(columns={"MEHOINUSA672N":"Household Income($)"})
HouseholdIncomeDF.head()

         DATE  Household Income($)
0  1984-01-01                51742
1  1985-01-01                52709
2  1986-01-01                54608
3  1987-01-01                55260
4  1988-01-01                55716

In [8]:
df = pd.merge(df, HouseholdIncomeDF, how="left", on="DATE")
df = pd.merge(df, CoreCPIDF, how = "left" , on = "DATE")
#df = df[["DATE","Unemployment Rate(%)","Consumer Price Index", "Household Income($)"]]

df = df.rename(columns = {"DSPIC96":"CoreCPI","MEHOINUSA672N":"HouseholdIncome"})
df.head(459)

,DATE,Unemployment Rate(%),Consumer Price Index,Household Income($),CoreCPI
0,1948-01-01,3.4,23.68,NaN,NaN
1,1948-02-01,3.8,23.67,NaN,NaN
2,1948-03-01,4.0,23.50,NaN,NaN
3,1948-04-01,3.9,23.82,NaN,NaN
4,1948-05-01,3.5,24.01,NaN,NaN
...,...,...,...,...,...
454,1985-11-01,7.0,109.00,NaN,5904.3
455,1985-12-01,7.0,109.50,NaN,5939.5
456,1986-01-01,6.7,109.90,54608.0,5950.0
457,1986-02-01,7.2,109.70,NaN,5980.7
458,1986-03-01,7.2,109.10,NaN,6041.8

In [9]:
# WRONG DATE FORMAT:
OilDates = OilDF["Date"]
OilDF.head()

,Date,Weekly U.S. Field Production of Crude Oil (Thousand Barrels per Day)
0,7-Jan-83,8634
1,14-Jan-83,8634
2,21-Jan-83,8634
3,28-Jan-83,8634
4,4-Feb-83,8660

In [10]:
# THIS CELL "FIXES" THE STRING DATE OF THE OIL CSV TO BE MORE LIKE THE FRED DATE FORMAT:

day = ""
month =""
MonthNums = {'Jan':"01", 'Feb':"02",'Mar':"03", 'Apr':"04",'May':"05", 'Jun':"06",'Jul':"07",
             'Aug':"08", 'Sep':"09", 'Oct':"10",'Nov':"11", 'Dec':"12"}

FixedDates=[]
count=0
for ind,row in OilDF.iterrows():
    #print(row["Date"])
    unfixedYear= row["Date"][-2:]
    if(int(unfixedYear)<21):
        FixedYear = "20"+unfixedYear
        #print(FixedYear)
    else:
        FixedYear = "19"+unfixedYear
        #print(FixedYear)
    if(row["Date"][2]=="-"):
#         print("this has two digits: " +row["Date"][0:2])
        day = (row["Date"][0:2])
#         print("Month: " + row["Date"][3:6])
        month = (MonthNums[row["Date"][3:6]])
    elif (row["Date"][1]=="-"):
#         print("this has one digit: " +row["Date"][0:1])
        day = "0"+ (row["Date"][0:1])
#         print("month: "+ row["Date"][2:5])
        month = (MonthNums[row["Date"][2:5]])
    FixedDate = FixedYear +"-"+month+"-"+day
    FixedDates.append(FixedDate)
    count +=1
    print(str(count) +":"+ FixedDate)

#print(FixedDates)

1:1983-01-07
2:1983-01-14
3:1983-01-21
4:1983-01-28
5:1983-02-04
6:1983-02-11
7:1983-02-18
8:1983-02-25
9:1983-03-04
10:1983-03-11
11:1983-03-18
12:1983-03-25
13:1983-04-01
14:1983-04-08
15:1983-04-15
16:1983-04-29
17:1983-05-13
18:1983-05-20
19:1983-06-03
20:1983-06-10
21:1983-06-17
22:1983-06-24
23:1983-07-01
24:1983-07-08
25:1983-07-15
26:1983-07-22
27:1983-07-29
28:1983-08-05
29:1983-08-12
30:1983-08-19
31:1983-08-26
32:1983-09-02
33:1983-09-09
34:1983-09-16
35:1983-09-23
36:1983-09-30
37:1983-10-07
38:1983-10-14
39:1983-10-21
40:1983-10-28
41:1983-11-04
42:1983-11-11
43:1983-11-18
44:1983-11-25
45:1983-12-02
46:1983-12-09
47:1983-12-16
48:1983-12-23
49:1983-12-30
50:1984-01-06
51:1984-01-13
52:1984-01-20
53:1984-01-27
54:1984-02-03
55:1984-02-10
56:1984-02-17
57:1984-02-24
58:1984-03-02
59:1984-03-09
60:1984-03-16
61:1984-03-23
62:1984-03-30
63:1984-04-06
64:1984-04-13
65:1984-04-20
66:1984-04-27
67:1984-05-04
68:1984-05-11
69:1984-05-18
70:1984-05-25
71:1984-06-01
72:1984-06-08
73:1984-06-15
74:1984-06-22
75:1984-06-29
76:1984-07-06
77:1984-07-13
78:1984-07-20
79:1984-07-27
80:1984-08-03
81:1984-08-10
82:1984-08-17
83:1984-08-24
84:1984-08-31
85:1984-09-07
86:1984-09-14
87:1984-09-21
88:1984-09-28
89:1984-10-05
90:1984-10-12
91:1984-10-19
92:1984-10-26
93:1984-11-02
94:1984-11-09
95:1984-11-16
96:1984-11-23
97:1984-11-30
98:1984-12-07
99:1984-12-14
100:1984-12-21
101:1984-12-28
102:1985-01-04
103:1985-01-11
104:1985-01-18
105:1985-01-25
106:1985-02-01
107:1985-02-08
108:1985-02-15
109:1985-02-22
110:1985-03-01
111:1985-03-08
112:1985-03-15
113:1985-03-22
114:1985-03-29
115:1985-04-05
116:1985-04-12
117:1985-04-19
118:1985-04-26
119:1985-05-03
120:1985-05-10
121:1985-05-17
122:1985-05-24
123:1985-05-31
124:1985-06-07
125:1985-06-14
126:1985-06-21
127:1985-06-28
128:1985-07-05
129:1985-07-12
130:1985-07-19
131:1985-07-26
132:1985-08-02
133:1985-08-09
134:1985-08-16
135:1985-08-23
136:1985-08-30
137:1985-09-06
138:1985-09-13
139:1985-09-20
140:1985-09-27
141:1985-10-04
142:1985-10-11
143:1985-10-18
144:1985-10-25
145:1985-11-01
146:1985-11-08
147:1985-11-15
148:1985-11-22
149:1985-11-29
150:1985-12-06
151:1985-12-13
152:1985-12-20
153:1985-12-27
154:1986-01-03
155:1986-01-10
156:1986-01-17
157:1986-01-24
158:1986-01-31
159:1986-02-07
160:1986-02-14
161:1986-02-21
162:1986-02-28
163:1986-03-07
164:1986-03-14
165:1986-03-21
166:1986-03-28
167:1986-04-04
168:1986-04-11
169:1986-04-18
170:1986-04-25
171:1986-05-02
172:1986-05-09
173:1986-05-16
174:1986-05-23
175:1986-05-30
176:1986-06-06
177:1986-06-13
178:1986-06-20
179:1986-06-27
180:1986-07-04
181:1986-07-11
182:1986-07-18
183:1986-07-25
184:1986-08-01
185:1986-08-08
186:1986-08-15
187:1986-08-22
188:1986-08-29
189:1986-09-05
190:1986-09-12
191:1986-09-19
192:1986-09-26
193:1986-10-03
194:1986-10-10
195:1986-10-17
196:1986-10-24
197:1986-10-31
198:1986-11-07
199:1986-11-14
200:1986-11-21
201:1986-11-28
202:1986-12-05
203:1986-12-12
204:1986-12-19
205:1986-12-26
206:1987-01-02
207:1987-01-09
208:1987-01-16
209:1987-01-23
210:1987-01-30
211:1987-02-06
212:1987-02-13
213:1987-02-20
214:1987-02-27
215:1987-03-06
216:1987-03-13
217:1987-03-20
218:1987-03-27
219:1987-04-03
220:1987-04-10
221:1987-04-17
222:1987-04-24
223:1987-05-01
224:1987-05-08
225:1987-05-15
226:1987-05-22
227:1987-05-29
228:1987-06-05
229:1987-06-12
230:1987-06-19
231:1987-06-26
232:1987-07-03
233:1987-07-10
234:1987-07-17
235:1987-07-24
236:1987-07-31
237:1987-08-07
238:1987-08-14
239:1987-08-21
240:1987-08-28
241:1987-09-04
242:1987-09-11
243:1987-09-18
244:1987-09-25
245:1987-10-02
246:1987-10-09
247:1987-10-16
248:1987-10-23
249:1987-10-30
250:1987-11-06
251:1987-11-13
252:1987-11-20
253:1987-11-27
254:1987-12-04
255:1987-12-11
256:1987-12-18
257:1987-12-25
258:1988-01-01
259:1988-01-08
260:1988-01-15
261:1988-01-22
262:1988-01-29
263:1988-02-05
264:1988-02-12
265:1988-02-19
266:1988-02-26
267:1988-03-04
268:1988-03-11
269:1988-03-18
270:1988-03-25
271:1988-04-01
272:1988-04-08
273:1988-04-15
274:1988-04-22
275:1988-04-29
276:1988-05-06
277:1988-05-13
278:1988-05-20
279:1988-05-27
280:1988-06-03
281:1988-06-10
282:1988-06-17
283:1988-06-24
284:1988-07-01
285:1988-07-08
286:1988-07-15
287:1988-07-22
288:1988-07-29
289:1988-08-05
290:1988-08-12
291:1988-08-19
292:1988-08-26
293:1988-09-02
294:1988-09-09
295:1988-09-16
296:1988-09-23
297:1988-09-30
298:1988-10-07
299:1988-10-14
300:1988-10-21
301:1988-10-28
302:1988-11-04
303:1988-11-11
304:1988-11-18
305:1988-11-25
306:1988-12-02
307:1988-12-09
308:1988-12-16
309:1988-12-23
310:1988-12-30
311:1989-01-06
312:1989-01-13
313:1989-01-20
314:1989-01-27
315:1989-02-03
316:1989-02-10
317:1989-02-17
318:1989-02-24
319:1989-03-03
320:1989-03-10
321:1989-03-17
322:1989-03-24
323:1989-03-31
324:1989-04-07
325:1989-04-14
326:1989-04-21
327:1989-04-28
328:1989-05-05
329:1989-05-12
330:1989-05-19
331:1989-05-26
332:1989-06-02
333:1989-06-09
334:1989-06-16
335:1989-06-23
336:1989-06-30
337:1989-07-07
338:1989-07-14
339:1989-07-21
340:1989-07-28
341:1989-08-04
342:1989-08-11
343:1989-08-18
344:1989-08-25
345:1989-09-01
346:1989-09-08
347:1989-09-15
348:1989-09-22
349:1989-09-29
350:1989-10-06
351:1989-10-13
352:1989-10-20
353:1989-10-27
354:1989-11-03
355:1989-11-10
356:1989-11-17
357:1989-11-24
358:1989-12-01
359:1989-12-08
360:1989-12-15
361:1989-12-22
362:1989-12-29
363:1990-01-05
364:1990-01-12
365:1990-01-19
366:1990-01-26
367:1990-02-02
368:1990-02-09
369:1990-02-16
370:1990-02-23
371:1990-03-02
372:1990-03-09
373:1990-03-16
374:1990-03-23
375:1990-03-30
376:1990-04-06
377:1990-04-13
378:1990-04-20
379:1990-04-27
380:1990-05-04
381:1990-05-11
382:1990-05-18
383:1990-05-25
384:1990-06-01
385:1990-06-08
386:1990-06-15
387:1990-06-22
388:1990-06-29
389:1990-07-06
390:1990-07-13
391:1990-07-20
392:1990-07-27
393:1990-08-03
394:1990-08-10
395:1990-08-17
396:1990-08-24
397:1990-08-31
398:1990-09-07
399:1990-09-14
400:1990-09-21
401:1990-09-28
402:1990-10-05
403:1990-10-12
404:1990-10-19
405:1990-10-26
406:1990-11-02
407:1990-11-09
408:1990-11-16
409:1990-11-23
410:1990-11-30
411:1990-12-07
412:1990-12-14
413:1990-12-21
414:1990-12-28
415:1991-01-04
416:1991-01-11
417:1991-01-18
418:1991-01-25
419:1991-02-01
420:1991-02-08
421:1991-02-15
422:1991-02-22
423:1991-03-01
424:1991-03-08
425:1991-03-15
426:1991-03-22
427:1991-03-29
428:1991-04-05
429:1991-04-12
430:1991-04-19
431:1991-04-26
432:1991-05-03
433:1991-05-10
434:1991-05-17
435:1991-05-24
436:1991-05-31
437:1991-06-07
438:1991-06-14
439:1991-06-21
440:1991-06-28
441:1991-07-05
442:1991-07-12
443:1991-07-19
444:1991-07-26
445:1991-08-02
446:1991-08-09
447:1991-08-16
448:1991-08-23
449:1991-08-30
450:1991-09-06
451:1991-09-13
452:1991-09-20
453:1991-09-27
454:1991-10-04
455:1991-10-11
456:1991-10-18
457:1991-10-25
458:1991-11-01
459:1991-11-08
460:1991-11-15
461:1991-11-22
462:1991-11-29
463:1991-12-06
464:1991-12-13
465:1991-12-20
466:1991-12-27
467:1992-01-03
468:1992-01-10
469:1992-01-17
470:1992-01-24
471:1992-01-31
472:1992-02-07
473:1992-02-14
474:1992-02-21
475:1992-02-28
476:1992-03-06
477:1992-03-13
478:1992-03-20
479:1992-03-27
480:1992-04-03
481:1992-04-10
482:1992-04-17
483:1992-04-24
484:1992-05-01
485:1992-05-08
486:1992-05-15
487:1992-05-22
488:1992-05-29
489:1992-06-05
490:1992-06-12
491:1992-06-19
492:1992-06-26
493:1992-07-03
494:1992-07-10
495:1992-07-17
496:1992-07-24
497:1992-07-31
498:1992-08-07
499:1992-08-14
500:1992-08-21
501:1992-08-28
502:1992-09-04
503:1992-09-11
504:1992-09-18
505:1992-09-25
506:1992-10-02
507:1992-10-09
508:1992-10-16
509:1992-10-23
510:1992-10-30
511:1992-11-06
512:1992-11-13
513:1992-11-20
514:1992-11-27
515:1992-12-04
516:1992-12-11
517:1992-12-18
518:1992-12-25
519:1993-01-01
520:1993-01-08
521:1993-01-15
522:1993-01-22
523:1993-01-29
524:1993-02-05
525:1993-02-12
526:1993-02-19
527:1993-02-26
528:1993-03-05
529:1993-03-12
530:1993-03-19
531:1993-03-26
532:1993-04-02
533:1993-04-09
534:1993-04-16
535:1993-04-23
536:1993-04-30
537:1993-05-07
538:1993-05-14
539:1993-05-21
540:1993-05-28
541:1993-06-04
542:1993-06-11
543:1993-06-18
544:1993-06-25
545:1993-07-02
546:1993-07-09
547:1993-07-16
548:1993-07-23
549:1993-07-30
550:1993-08-06
551:1993-08-13
552:1993-08-20
553:1993-08-27
554:1993-09-03
555:1993-09-10
556:1993-09-17
557:1993-09-24
558:1993-10-01
559:1993-10-08
560:1993-10-15
561:1993-10-22
562:1993-10-29
563:1993-11-05
564:1993-11-12
565:1993-11-19
566:1993-11-26
567:1993-12-03
568:1993-12-10
569:1993-12-17
570:1993-12-24
571:1993-12-31
572:1994-01-07
573:1994-01-14
574:1994-01-21
575:1994-01-28
576:1994-02-04
577:1994-02-11
578:1994-02-18
579:1994-02-25
580:1994-03-04
581:1994-03-11
582:1994-03-18
583:1994-03-25
584:1994-04-01
585:1994-04-08
586:1994-04-15
587:1994-04-22
588:1994-04-29
589:1994-05-06
590:1994-05-13
591:1994-05-20
592:1994-05-27
593:1994-06-03
594:1994-06-10
595:1994-06-17
596:1994-06-24
597:1994-07-01
598:1994-07-08
599:1994-07-15
600:1994-07-22
601:1994-07-29
602:1994-08-05
603:1994-08-12
604:1994-08-19
605:1994-08-26
606:1994-09-02
607:1994-09-09
608:1994-09-16
609:1994-09-23
610:1994-09-30
611:1994-10-07
612:1994-10-14
613:1994-10-21
614:1994-10-28
615:1994-11-04
616:1994-11-11
617:1994-11-18
618:1994-11-25
619:1994-12-02

620:1994-12-09
621:1994-12-16
622:1994-12-23
623:1994-12-30
624:1995-01-06
625:1995-01-13
626:1995-01-20
627:1995-01-27
628:1995-02-03
629:1995-02-10
630:1995-02-17
631:1995-02-24
632:1995-03-03
633:1995-03-10
634:1995-03-17
635:1995-03-24
636:1995-03-31
637:1995-04-07
638:1995-04-14
639:1995-04-21
640:1995-04-28
641:1995-05-05
642:1995-05-12
643:1995-05-19
644:1995-05-26
645:1995-06-02
646:1995-06-09
647:1995-06-16
648:1995-06-23
649:1995-06-30
650:1995-07-07
651:1995-07-14
652:1995-07-21
653:1995-07-28
654:1995-08-04
655:1995-08-11
656:1995-08-18
657:1995-08-25
658:1995-09-01
659:1995-09-08
660:1995-09-15
661:1995-09-22
662:1995-09-29
663:1995-10-06
664:1995-10-13
665:1995-10-20
666:1995-10-27
667:1995-11-03
668:1995-11-10
669:1995-11-17
670:1995-11-24
671:1995-12-01
672:1995-12-08
673:1995-12-15
674:1995-12-22
675:1995-12-29
676:1996-01-05
677:1996-01-12
678:1996-01-19
679:1996-01-26
680:1996-02-02
681:1996-02-09
682:1996-02-16
683:1996-02-23
684:1996-03-01
685:1996-03-08
686:1996-03-15
687:1996-03-22
688:1996-03-29
689:1996-04-05
690:1996-04-12
691:1996-04-19
692:1996-04-26
693:1996-05-03
694:1996-05-10
695:1996-05-17
696:1996-05-24
697:1996-05-31
698:1996-06-07
699:1996-06-14
700:1996-06-21
701:1996-06-28
702:1996-07-05
703:1996-07-12
704:1996-07-19
705:1996-07-26
706:1996-08-02
707:1996-08-09
708:1996-08-16
709:1996-08-23
710:1996-08-30
711:1996-09-06
712:1996-09-13
713:1996-09-20
714:1996-09-27
715:1996-10-04
716:1996-10-11
717:1996-10-18
718:1996-10-25
719:1996-11-01
720:1996-11-08
721:1996-11-15
722:1996-11-22
723:1996-11-29
724:1996-12-06
725:1996-12-13
726:1996-12-20
727:1996-12-27
728:1997-01-03
729:1997-01-10
730:1997-01-17
731:1997-01-24
732:1997-01-31
733:1997-02-07
734:1997-02-14
735:1997-02-21
736:1997-02-28
737:1997-03-07
738:1997-03-14
739:1997-03-21
740:1997-03-28
741:1997-04-04
742:1997-04-11
743:1997-04-18
744:1997-04-25
745:1997-05-02
746:1997-05-09
747:1997-05-16
748:1997-05-23
749:1997-05-30
750:1997-06-06
751:1997-06-13
752:1997-06-20
753:1997-06-27
754:1997-07-04
755:1997-07-11
756:1997-07-18
757:1997-07-25
758:1997-08-01
759:1997-08-08
760:1997-08-15
761:1997-08-22
762:1997-08-29
763:1997-09-05
764:1997-09-12
765:1997-09-19
766:1997-09-26
767:1997-10-03
768:1997-10-10
769:1997-10-17
770:1997-10-24
771:1997-10-31
772:1997-11-07
773:1997-11-14
774:1997-11-21
775:1997-11-28
776:1997-12-05
777:1997-12-12
778:1997-12-19
779:1997-12-26
780:1998-01-02
781:1998-01-09
782:1998-01-16
783:1998-01-23
784:1998-01-30
785:1998-02-06
786:1998-02-13
787:1998-02-20
788:1998-02-27
789:1998-03-06
790:1998-03-13
791:1998-03-20
792:1998-03-27
793:1998-04-03
794:1998-04-10
795:1998-04-17
796:1998-04-24
797:1998-05-01
798:1998-05-08
799:1998-05-15
800:1998-05-22
801:1998-05-29
802:1998-06-05
803:1998-06-12
804:1998-06-19
805:1998-06-26
806:1998-07-03
807:1998-07-10
808:1998-07-17
809:1998-07-24
810:1998-07-31
811:1998-08-07
812:1998-08-14
813:1998-08-21
814:1998-08-28
815:1998-09-04
816:1998-09-11
817:1998-09-18
818:1998-09-25
819:1998-10-02
820:1998-10-09
821:1998-10-16
822:1998-10-23
823:1998-10-30
824:1998-11-06
825:1998-11-13
826:1998-11-20
827:1998-11-27
828:1998-12-04
829:1998-12-11
830:1998-12-18
831:1998-12-25
832:1999-01-01
833:1999-01-08
834:1999-01-15
835:1999-01-22
836:1999-01-29
837:1999-02-05
838:1999-02-12
839:1999-02-19
840:1999-02-26
841:1999-03-05
842:1999-03-12
843:1999-03-19
844:1999-03-26
845:1999-04-02
846:1999-04-09
847:1999-04-16
848:1999-04-23
849:1999-04-30
850:1999-05-07
851:1999-05-14
852:1999-05-21
853:1999-05-28
854:1999-06-04
855:1999-06-11
856:1999-06-18
857:1999-06-25
858:1999-07-02
859:1999-07-09
860:1999-07-16
861:1999-07-23
862:1999-07-30
863:1999-08-06
864:1999-08-13
865:1999-08-20
866:1999-08-27
867:1999-09-03
868:1999-09-10
869:1999-09-17
870:1999-09-24
871:1999-10-01
872:1999-10-08
873:1999-10-15
874:1999-10-22
875:1999-10-29
876:1999-11-05
877:1999-11-12
878:1999-11-19
879:1999-11-26
880:1999-12-03
881:1999-12-10
882:1999-12-17
883:1999-12-24
884:1999-12-31
885:2000-01-07
886:2000-01-14
887:2000-01-21
888:2000-01-28
889:2000-02-04
890:2000-02-11
891:2000-02-18
892:2000-02-25
893:2000-03-03
894:2000-03-10
895:2000-03-17
896:2000-03-24
897:2000-03-31
898:2000-04-07
899:2000-04-14
900:2000-04-21
901:2000-04-28
902:2000-05-05
903:2000-05-12
904:2000-05-19
905:2000-05-26
906:2000-06-02
907:2000-06-09
908:2000-06-16
909:2000-06-23
910:2000-06-30
911:2000-07-07
912:2000-07-14
913:2000-07-21
914:2000-07-28
915:2000-08-04
916:2000-08-11
917:2000-08-18
918:2000-08-25
919:2000-09-01
920:2000-09-08
921:2000-09-15
922:2000-09-22
923:2000-09-29
924:2000-10-06
925:2000-10-13
926:2000-10-20
927:2000-10-27
928:2000-11-03
929:2000-11-10
930:2000-11-17
931:2000-11-24
932:2000-12-01
933:2000-12-08
934:2000-12-15
935:2000-12-22
936:2000-12-29
937:2001-01-05
938:2001-01-12
939:2001-01-19
940:2001-01-26
941:2001-02-02
942:2001-02-09
943:2001-02-16
944:2001-02-23
945:2001-03-02
946:2001-03-09
947:2001-03-16
948:2001-03-23
949:2001-03-30
950:2001-04-06
951:2001-04-13
952:2001-04-20
953:2001-04-27
954:2001-05-04
955:2001-05-11
956:2001-05-18
957:2001-05-25
958:2001-06-01
959:2001-06-08
960:2001-06-15
961:2001-06-22
962:2001-06-29
963:2001-07-06
964:2001-07-13
965:2001-07-20
966:2001-07-27
967:2001-08-03
968:2001-08-10
969:2001-08-17
970:2001-08-24
971:2001-08-31
972:2001-09-07
973:2001-09-14
974:2001-09-21
975:2001-09-28
976:2001-10-05
977:2001-10-12
978:2001-10-19
979:2001-10-26
980:2001-11-02
981:2001-11-09
982:2001-11-16
983:2001-11-23
984:2001-11-30
985:2001-12-07
986:2001-12-14
987:2001-12-21
988:2001-12-28
989:2002-01-04
990:2002-01-11
991:2002-01-18
992:2002-01-25
993:2002-02-01
994:2002-02-08
995:2002-02-15
996:2002-02-22
997:2002-03-01
998:2002-03-08
999:2002-03-15
1000:2002-03-22
1001:2002-03-29
1002:2002-04-05
1003:2002-04-12
1004:2002-04-19
1005:2002-04-26
1006:2002-05-03
1007:2002-05-10
1008:2002-05-17
1009:2002-05-24
1010:2002-05-31
1011:2002-06-07
1012:2002-06-14
1013:2002-06-21
1014:2002-06-28
1015:2002-07-05
1016:2002-07-12
1017:2002-07-19
1018:2002-07-26
1019:2002-08-02
1020:2002-08-09
1021:2002-08-16
1022:2002-08-23
1023:2002-08-30
1024:2002-09-06
1025:2002-09-13
1026:2002-09-20
1027:2002-09-27
1028:2002-10-04
1029:2002-10-11
1030:2002-10-18
1031:2002-10-25
1032:2002-11-01
1033:2002-11-08
1034:2002-11-15
1035:2002-11-22
1036:2002-11-29
1037:2002-12-06
1038:2002-12-13
1039:2002-12-20
1040:2002-12-27
1041:2003-01-03
1042:2003-01-10
1043:2003-01-17
1044:2003-01-24
1045:2003-01-31
1046:2003-02-07
1047:2003-02-14
1048:2003-02-21
1049:2003-02-28
1050:2003-03-07
1051:2003-03-14
1052:2003-03-21
1053:2003-03-28
1054:2003-04-04
1055:2003-04-11
1056:2003-04-18
1057:2003-04-25
1058:2003-05-02
1059:2003-05-09
1060:2003-05-16
1061:2003-05-23
1062:2003-05-30
1063:2003-06-06
1064:2003-06-13
1065:2003-06-20
1066:2003-06-27
1067:2003-07-04
1068:2003-07-11
1069:2003-07-18
1070:2003-07-25
1071:2003-08-01
1072:2003-08-08
1073:2003-08-15
1074:2003-08-22
1075:2003-08-29
1076:2003-09-05
1077:2003-09-12
1078:2003-09-19
1079:2003-09-26
1080:2003-10-03
1081:2003-10-10
1082:2003-10-17
1083:2003-10-24
1084:2003-10-31
1085:2003-11-07
1086:2003-11-14
1087:2003-11-21
1088:2003-11-28
1089:2003-12-05
1090:2003-12-12
1091:2003-12-19
1092:2003-12-26
1093:2004-01-02
1094:2004-01-09
1095:2004-01-16
1096:2004-01-23
1097:2004-01-30
1098:2004-02-06
1099:2004-02-13
1100:2004-02-20
1101:2004-02-27
1102:2004-03-05
1103:2004-03-12
1104:2004-03-19
1105:2004-03-26
1106:2004-04-02
1107:2004-04-09
1108:2004-04-16
1109:2004-04-23
1110:2004-04-30
1111:2004-05-07
1112:2004-05-14
1113:2004-05-21
1114:2004-05-28
1115:2004-06-04
1116:2004-06-11
1117:2004-06-18
1118:2004-06-25
1119:2004-07-02
1120:2004-07-09
1121:2004-07-16
1122:2004-07-23
1123:2004-07-30
1124:2004-08-06
1125:2004-08-13
1126:2004-08-20
1127:2004-08-27
1128:2004-09-03
1129:2004-09-10
1130:2004-09-17
1131:2004-09-24
1132:2004-10-01
1133:2004-10-08
1134:2004-10-15
1135:2004-10-22
1136:2004-10-29
1137:2004-11-05
1138:2004-11-12
1139:2004-11-19
1140:2004-11-26
1141:2004-12-03
1142:2004-12-10
1143:2004-12-17
1144:2004-12-24
1145:2004-12-31
1146:2005-01-07
1147:2005-01-14
1148:2005-01-21
1149:2005-01-28
1150:2005-02-04
1151:2005-02-11
1152:2005-02-18
1153:2005-02-25
1154:2005-03-04
1155:2005-03-11
1156:2005-03-18
1157:2005-03-25
1158:2005-04-01
1159:2005-04-08
1160:2005-04-15
1161:2005-04-22
1162:2005-04-29
1163:2005-05-06
1164:2005-05-13
1165:2005-05-20
1166:2005-05-27
1167:2005-06-03
1168:2005-06-10
1169:2005-06-17
1170:2005-06-24
1171:2005-07-01
1172:2005-07-08
1173:2005-07-15
1174:2005-07-22
1175:2005-07-29
1176:2005-08-05
1177:2005-08-12
1178:2005-08-19
1179:2005-08-26
1180:2005-09-02
1181:2005-09-09
1182:2005-09-16
1183:2005-09-23
1184:2005-09-30
1185:2005-10-07
1186:2005-10-14
1187:2005-10-21
1188:2005-10-28
1189:2005-11-04
1190:2005-11-11
1191:2005-11-18
1192:2005-11-25
1193:2005-12-02
1194:2005-12-09
1195:2005-12-16
1196:2005-12-23
1197:2005-12-30

1198:2006-01-06
1199:2006-01-13
1200:2006-01-20
1201:2006-01-27
1202:2006-02-03
1203:2006-02-10
1204:2006-02-17
1205:2006-02-24
1206:2006-03-03
1207:2006-03-10
1208:2006-03-17
1209:2006-03-24
1210:2006-03-31
1211:2006-04-07
1212:2006-04-14
1213:2006-04-21
1214:2006-04-28
1215:2006-05-05
1216:2006-05-12
1217:2006-05-19
1218:2006-05-26
1219:2006-06-02
1220:2006-06-09
1221:2006-06-16
1222:2006-06-23
1223:2006-06-30
1224:2006-07-07
1225:2006-07-14
1226:2006-07-21
1227:2006-07-28
1228:2006-08-04
1229:2006-08-11
1230:2006-08-18
1231:2006-08-25
1232:2006-09-01
1233:2006-09-08
1234:2006-09-15
1235:2006-09-22
1236:2006-09-29
1237:2006-10-06
1238:2006-10-13
1239:2006-10-20
1240:2006-10-27
1241:2006-11-03
1242:2006-11-10
1243:2006-11-17
1244:2006-11-24
1245:2006-12-01
1246:2006-12-08
1247:2006-12-15
1248:2006-12-22
1249:2006-12-29
1250:2007-01-05
1251:2007-01-12
1252:2007-01-19
1253:2007-01-26
1254:2007-02-02
1255:2007-02-09
1256:2007-02-16
1257:2007-02-23
1258:2007-03-02
1259:2007-03-09
1260:2007-03-16
1261:2007-03-23
1262:2007-03-30
1263:2007-04-06
1264:2007-04-13
1265:2007-04-20
1266:2007-04-27
1267:2007-05-04
1268:2007-05-11
1269:2007-05-18
1270:2007-05-25
1271:2007-06-01
1272:2007-06-08
1273:2007-06-15
1274:2007-06-22
1275:2007-06-29
1276:2007-07-06
1277:2007-07-13
1278:2007-07-20
1279:2007-07-27
1280:2007-08-03
1281:2007-08-10
1282:2007-08-17
1283:2007-08-24
1284:2007-08-31
1285:2007-09-07
1286:2007-09-14
1287:2007-09-21
1288:2007-09-28
1289:2007-10-05
1290:2007-10-12
1291:2007-10-19
1292:2007-10-26
1293:2007-11-02
1294:2007-11-09
1295:2007-11-16
1296:2007-11-23
1297:2007-11-30
1298:2007-12-07
1299:2007-12-14
1300:2007-12-21
1301:2007-12-28
1302:2008-01-04
1303:2008-01-11
1304:2008-01-18
1305:2008-01-25
1306:2008-02-01
1307:2008-02-08
1308:2008-02-15
1309:2008-02-22
1310:2008-02-29
1311:2008-03-07
1312:2008-03-14
1313:2008-03-21
1314:2008-03-28
1315:2008-04-04
1316:2008-04-11
1317:2008-04-18
1318:2008-04-25
1319:2008-05-02
1320:2008-05-09
1321:2008-05-16
1322:2008-05-23
1323:2008-05-30
1324:2008-06-06
1325:2008-06-13
1326:2008-06-20
1327:2008-06-27
1328:2008-07-04
1329:2008-07-11
1330:2008-07-18
1331:2008-07-25
1332:2008-08-01
1333:2008-08-08
1334:2008-08-15
1335:2008-08-22
1336:2008-08-29
1337:2008-09-05
1338:2008-09-12
1339:2008-09-19
1340:2008-09-26
1341:2008-10-03
1342:2008-10-10
1343:2008-10-17
1344:2008-10-24
1345:2008-10-31
1346:2008-11-07
1347:2008-11-14
1348:2008-11-21
1349:2008-11-28
1350:2008-12-05
1351:2008-12-12
1352:2008-12-19
1353:2008-12-26
1354:2009-01-02
1355:2009-01-09
1356:2009-01-16
1357:2009-01-23
1358:2009-01-30
1359:2009-02-06
1360:2009-02-13
1361:2009-02-20
1362:2009-02-27
1363:2009-03-06
1364:2009-03-13
1365:2009-03-20
1366:2009-03-27
1367:2009-04-03
1368:2009-04-10
1369:2009-04-17
1370:2009-04-24
1371:2009-05-01
1372:2009-05-08
1373:2009-05-15
1374:2009-05-22
1375:2009-05-29
1376:2009-06-05
1377:2009-06-12
1378:2009-06-19
1379:2009-06-26
1380:2009-07-03
1381:2009-07-10
1382:2009-07-17
1383:2009-07-24
1384:2009-07-31
1385:2009-08-07
1386:2009-08-14
1387:2009-08-21
1388:2009-08-28
1389:2009-09-04
1390:2009-09-11
1391:2009-09-18
1392:2009-09-25
1393:2009-10-02
1394:2009-10-09
1395:2009-10-16
1396:2009-10-23
1397:2009-10-30
1398:2009-11-06
1399:2009-11-13
1400:2009-11-20
1401:2009-11-27
1402:2009-12-04
1403:2009-12-11
1404:2009-12-18
1405:2009-12-25
1406:2010-01-01
1407:2010-01-08
1408:2010-01-15
1409:2010-01-22
1410:2010-01-29
1411:2010-02-05
1412:2010-02-12
1413:2010-02-19
1414:2010-02-26
1415:2010-03-05
1416:2010-03-12
1417:2010-03-19
1418:2010-03-26
1419:2010-04-02
1420:2010-04-09
1421:2010-04-16
1422:2010-04-23
1423:2010-04-30
1424:2010-05-07
1425:2010-05-14
1426:2010-05-21
1427:2010-05-28
1428:2010-06-04
1429:2010-06-11
1430:2010-06-18
1431:2010-06-25
1432:2010-07-02
1433:2010-07-09
1434:2010-07-16
1435:2010-07-23
1436:2010-07-30
1437:2010-08-06
1438:2010-08-13
1439:2010-08-20
1440:2010-08-27
1441:2010-09-03
1442:2010-09-10
1443:2010-09-17
1444:2010-09-24
1445:2010-10-01
1446:2010-10-08
1447:2010-10-15
1448:2010-10-22
1449:2010-10-29
1450:2010-11-05
1451:2010-11-12
1452:2010-11-19
1453:2010-11-26
1454:2010-12-03
1455:2010-12-10
1456:2010-12-17
1457:2010-12-24
1458:2010-12-31
1459:2011-01-07
1460:2011-01-14
1461:2011-01-21
1462:2011-01-28
1463:2011-02-04
1464:2011-02-11
1465:2011-02-18
1466:2011-02-25
1467:2011-03-04
1468:2011-03-11
1469:2011-03-18
1470:2011-03-25
1471:2011-04-01
1472:2011-04-08
1473:2011-04-15
1474:2011-04-22
1475:2011-04-29
1476:2011-05-06
1477:2011-05-13
1478:2011-05-20
1479:2011-05-27
1480:2011-06-03
1481:2011-06-10
1482:2011-06-17
1483:2011-06-24
1484:2011-07-01
1485:2011-07-08
1486:2011-07-15
1487:2011-07-22
1488:2011-07-29
1489:2011-08-05
1490:2011-08-12
1491:2011-08-19
1492:2011-08-26
1493:2011-09-02
1494:2011-09-09
1495:2011-09-16
1496:2011-09-23
1497:2011-09-30
1498:2011-10-07
1499:2011-10-14
1500:2011-10-21
1501:2011-10-28
1502:2011-11-04
1503:2011-11-11
1504:2011-11-18
1505:2011-11-25
1506:2011-12-02
1507:2011-12-09
1508:2011-12-16
1509:2011-12-23
1510:2011-12-30
1511:2012-01-06
1512:2012-01-13
1513:2012-01-20
1514:2012-01-27
1515:2012-02-03
1516:2012-02-10
1517:2012-02-17
1518:2012-02-24
1519:2012-03-02
1520:2012-03-09
1521:2012-03-16
1522:2012-03-23
1523:2012-03-30
1524:2012-04-06
1525:2012-04-13
1526:2012-04-20
1527:2012-04-27
1528:2012-05-04
1529:2012-05-11
1530:2012-05-18
1531:2012-05-25
1532:2012-06-01
1533:2012-06-08
1534:2012-06-15
1535:2012-06-22
1536:2012-06-29
1537:2012-07-06
1538:2012-07-13
1539:2012-07-20
1540:2012-07-27
1541:2012-08-03
1542:2012-08-10
1543:2012-08-17
1544:2012-08-24
1545:2012-08-31
1546:2012-09-07
1547:2012-09-14
1548:2012-09-21
1549:2012-09-28
1550:2012-10-05
1551:2012-10-12
1552:2012-10-19
1553:2012-10-26
1554:2012-11-02
1555:2012-11-09
1556:2012-11-16
1557:2012-11-23
1558:2012-11-30
1559:2012-12-07
1560:2012-12-14
1561:2012-12-21
1562:2012-12-28
1563:2013-01-04
1564:2013-01-11
1565:2013-01-18
1566:2013-01-25
1567:2013-02-01
1568:2013-02-08
1569:2013-02-15
1570:2013-02-22
1571:2013-03-01
1572:2013-03-08
1573:2013-03-15
1574:2013-03-22
1575:2013-03-29
1576:2013-04-05
1577:2013-04-12
1578:2013-04-19
1579:2013-04-26
1580:2013-05-03
1581:2013-05-10
1582:2013-05-17
1583:2013-05-24
1584:2013-05-31
1585:2013-06-07
1586:2013-06-14
1587:2013-06-21
1588:2013-06-28
1589:2013-07-05
1590:2013-07-12
1591:2013-07-19
1592:2013-07-26
1593:2013-08-02
1594:2013-08-09
1595:2013-08-16
1596:2013-08-23
1597:2013-08-30
1598:2013-09-06
1599:2013-09-13
1600:2013-09-20
1601:2013-09-27
1602:2013-10-04
1603:2013-10-11
1604:2013-10-18
1605:2013-10-25
1606:2013-11-01
1607:2013-11-08
1608:2013-11-15
1609:2013-11-22
1610:2013-11-29
1611:2013-12-06
1612:2013-12-13
1613:2013-12-20
1614:2013-12-27
1615:2014-01-03
1616:2014-01-10
1617:2014-01-17
1618:2014-01-24
1619:2014-01-31
1620:2014-02-07
1621:2014-02-14
1622:2014-02-21
1623:2014-02-28
1624:2014-03-07
1625:2014-03-14
1626:2014-03-21
1627:2014-03-28
1628:2014-04-04
1629:2014-04-11
1630:2014-04-18
1631:2014-04-25
1632:2014-05-02
1633:2014-05-09
1634:2014-05-16
1635:2014-05-23
1636:2014-05-30
1637:2014-06-06
1638:2014-06-13
1639:2014-06-20
1640:2014-06-27
1641:2014-07-04
1642:2014-07-11
1643:2014-07-18
1644:2014-07-25
1645:2014-08-01
1646:2014-08-08
1647:2014-08-15
1648:2014-08-22
1649:2014-08-29
1650:2014-09-05
1651:2014-09-12
1652:2014-09-19
1653:2014-09-26
1654:2014-10-03
1655:2014-10-10
1656:2014-10-17
1657:2014-10-24
1658:2014-10-31
1659:2014-11-07
1660:2014-11-14
1661:2014-11-21
1662:2014-11-28
1663:2014-12-05
1664:2014-12-12
1665:2014-12-19
1666:2014-12-26
1667:2015-01-02
1668:2015-01-09
1669:2015-01-16
1670:2015-01-23
1671:2015-01-30
1672:2015-02-06
1673:2015-02-13
1674:2015-02-20
1675:2015-02-27
1676:2015-03-06
1677:2015-03-13
1678:2015-03-20
1679:2015-03-27
1680:2015-04-03
1681:2015-04-10
1682:2015-04-17
1683:2015-04-24
1684:2015-05-01
1685:2015-05-08
1686:2015-05-15
1687:2015-05-22
1688:2015-05-29
1689:2015-06-05
1690:2015-06-12
1691:2015-06-19
1692:2015-06-26
1693:2015-07-03
1694:2015-07-10
1695:2015-07-17
1696:2015-07-24
1697:2015-07-31
1698:2015-08-07
1699:2015-08-14
1700:2015-08-21
1701:2015-08-28
1702:2015-09-04
1703:2015-09-11
1704:2015-09-18
1705:2015-09-25
1706:2015-10-02
1707:2015-10-09
1708:2015-10-16
1709:2015-10-23
1710:2015-10-30
1711:2015-11-06
1712:2015-11-13
1713:2015-11-20
1714:2015-11-27
1715:2015-12-04
1716:2015-12-11
1717:2015-12-18
1718:2015-12-25
1719:2016-01-01
1720:2016-01-08
1721:2016-01-15
1722:2016-01-22
1723:2016-01-29
1724:2016-02-05
1725:2016-02-12
1726:2016-02-19
1727:2016-02-26
1728:2016-03-04
1729:2016-03-11
1730:2016-03-18
1731:2016-03-25
1732:2016-04-01
1733:2016-04-08
1734:2016-04-15
1735:2016-04-22
1736:2016-04-29
1737:2016-05-06
1738:2016-05-13
1739:2016-05-20
1740:2016-05-27
1741:2016-06-03
1742:2016-06-10
1743:2016-06-17
1744:2016-06-24
1745:2016-07-01
1746:2016-07-08
1747:2016-07-15
1748:2016-07-22
1749:2016-07-29
1750:2016-08-05
1751:2016-08-12
1752:2016-08-19
1753:2016-08-26
1754:2016-09-02
1755:2016-09-09
1756:2016-09-16
1757:2016-09-23
1758:2016-09-30
1759:2016-10-07
1760:2016-10-14
1761:2016-10-21
1762:2016-10-28
1763:2016-11-04
1764:2016-11-11
1765:2016-11-18
1766:2016-11-25
1767:2016-12-02
1768:2016-12-09

1769:2016-12-16
1770:2016-12-23
1771:2016-12-30
1772:2017-01-06
1773:2017-01-13
1774:2017-01-20
1775:2017-01-27
1776:2017-02-03
1777:2017-02-10
1778:2017-02-17
1779:2017-02-24
1780:2017-03-03
1781:2017-03-10
1782:2017-03-17
1783:2017-03-24
1784:2017-03-31
1785:2017-04-07
1786:2017-04-14
1787:2017-04-21
1788:2017-04-28
1789:2017-05-05
1790:2017-05-12
1791:2017-05-19
1792:2017-05-26
1793:2017-06-02
1794:2017-06-09
1795:2017-06-16
1796:2017-06-23
1797:2017-06-30
1798:2017-07-07
1799:2017-07-14
1800:2017-07-21
1801:2017-07-28
1802:2017-08-04
1803:2017-08-11
1804:2017-08-18
1805:2017-08-25
1806:2017-09-01
1807:2017-09-08
1808:2017-09-15
1809:2017-09-22
1810:2017-09-29
1811:2017-10-06
1812:2017-10-13
1813:2017-10-20
1814:2017-10-27
1815:2017-11-03
1816:2017-11-10
1817:2017-11-17
1818:2017-11-24
1819:2017-12-01
1820:2017-12-08
1821:2017-12-15
1822:2017-12-22
1823:2017-12-29
1824:2018-01-05
1825:2018-01-12
1826:2018-01-19
1827:2018-01-26
1828:2018-02-02
1829:2018-02-09
1830:2018-02-16
1831:2018-02-23
1832:2018-03-02
1833:2018-03-09
1834:2018-03-16
1835:2018-03-23
1836:2018-03-30
1837:2018-04-06
1838:2018-04-13
1839:2018-04-20
1840:2018-04-27
1841:2018-05-04
1842:2018-05-11
1843:2018-05-18
1844:2018-05-25
1845:2018-06-01
1846:2018-06-08
1847:2018-06-15
1848:2018-06-22
1849:2018-06-29
1850:2018-07-06
1851:2018-07-13
1852:2018-07-20
1853:2018-07-27
1854:2018-08-03
1855:2018-08-10
1856:2018-08-17
1857:2018-08-24
1858:2018-08-31
1859:2018-09-07
1860:2018-09-14
1861:2018-09-21
1862:2018-09-28
1863:2018-10-05
1864:2018-10-12
1865:2018-10-19
1866:2018-10-26
1867:2018-11-02
1868:2018-11-09
1869:2018-11-16
1870:2018-11-23
1871:2018-11-30
1872:2018-12-07
1873:2018-12-14
1874:2018-12-21
1875:2018-12-28
1876:2019-01-04
1877:2019-01-11
1878:2019-01-18
1879:2019-01-25
1880:2019-02-01
1881:2019-02-08
1882:2019-02-15
1883:2019-02-22
1884:2019-03-01
1885:2019-03-08
1886:2019-03-15
1887:2019-03-22
1888:2019-03-29
1889:2019-04-05
1890:2019-04-12
1891:2019-04-19
1892:2019-04-26
1893:2019-05-03
1894:2019-05-10
1895:2019-05-17
1896:2019-05-24
1897:2019-05-31
1898:2019-06-07
1899:2019-06-14
1900:2019-06-21
1901:2019-06-28
1902:2019-07-05
1903:2019-07-12
1904:2019-07-19
1905:2019-07-26
1906:2019-08-02
1907:2019-08-09
1908:2019-08-16
1909:2019-08-23
1910:2019-08-30
1911:2019-09-06
1912:2019-09-13
1913:2019-09-20
1914:2019-09-27
1915:2019-10-04
1916:2019-10-11
1917:2019-10-18
1918:2019-10-25
1919:2019-11-01
1920:2019-11-08
1921:2019-11-15
1922:2019-11-22
1923:2019-11-29
1924:2019-12-06
1925:2019-12-13
1926:2019-12-20
1927:2019-12-27
1928:2020-01-03
1929:2020-01-10
1930:2020-01-17
1931:2020-01-24
1932:2020-01-31
1933:2020-02-07
1934:2020-02-14
1935:2020-02-21
1936:2020-02-28
1937:2020-03-06

In [11]:
OilDF["DATE"]= FixedDates
OilDF

,Date,Weekly U.S. Field Production of Crude Oil (Thousand Barrels per Day),DATE
0,7-Jan-83,8634,1983-01-07
1,14-Jan-83,8634,1983-01-14
2,21-Jan-83,8634,1983-01-21
3,28-Jan-83,8634,1983-01-28
4,4-Feb-83,8660,1983-02-04
...,...,...,...
1932,7-Feb-20,13000,2020-02-07
1933,14-Feb-20,13000,2020-02-14
1934,21-Feb-20,13000,2020-02-21
1935,28-Feb-20,13100,2020-02-28
1936,6-Mar-20,13000,2020-03-06

In [12]:
OilDF = OilDF.rename(columns={"Weekly U.S. Field Production of Crude Oil  (Thousand Barrels per Day)" : "Weekly U.S. Field Production of Crude Oil, Thousand Barrels per Day"})
OilDF = OilDF[["DATE","Weekly U.S. Field Production of Crude Oil, Thousand Barrels per Day"]]
OilDF

,DATE,"Weekly U.S. Field Production of Crude Oil, Thousand Barrels per Day"
0,1983-01-07,8634
1,1983-01-14,8634
2,1983-01-21,8634
3,1983-01-28,8634
4,1983-02-04,8660
...,...,...
1932,2020-02-07,13000
1933,2020-02-14,13000
1934,2020-02-21,13000
1935,2020-02-28,13100
1936,2020-03-06,13000

In [13]:
OilDF['DATE']= pd.to_datetime(df['DATE']) 
OilDF.DATE

0      1948-01-01
1      1948-02-01
2      1948-03-01
3      1948-04-01
4      1948-05-01
          ...
1932          NaT
1933          NaT
1934          NaT
1935          NaT
1936          NaT
Name: DATE, Length: 1937, dtype: datetime64[ns]