In [1]:
import pandas as pd
import json
import requests
import pprint
from functools import reduce
from keys import fred_key, eia_key

In [2]:
# EIA API Calls
production = requests.get("https://api.eia.gov/series/?api_key="+ eia_key +"&series_id=PET.WCRFPUS2.W")
imports = requests.get("http://api.eia.gov/series/?api_key="+ eia_key +"&series_id=PET.WCRIMUS2.W")
supply = requests.get("http://api.eia.gov/series/?api_key="+ eia_key +"&series_id=PET.WRPUPUS2.W")

print(production.status_code)
print(imports.status_code)
print(supply.status_code)

200
200
200

In [3]:
# FRED API Calls
# The WTI returns price for the week ending Friday. This is the same release dat as the eia data
wti = requests.get("https://api.stlouisfed.org/fred/series/observations?series_id=WCOILWTICO&frequency=wef&api_key="+ 
                   fred_key +"&file_type=json")

# These indicators are only monthly
cpi = requests.get("https://api.stlouisfed.org/fred/series/observations?series_id=CPILFESL&frequency=m&api_key="+ 
                  fred_key +"&file_type=json")
unemployment = requests.get("https://api.stlouisfed.org/fred/series/observations?series_id=UNRATE&frequency=m&api_key="+ 
                  fred_key +"&file_type=json")
personal_consumption_expenditure = requests.get("https://api.stlouisfed.org/fred/series/observations?series_id=PCE&frequency=m&api_key="+ 
                  fred_key +"&file_type=json")

print(wti.status_code)
print(cpi.status_code)
print(unemployment.status_code)
print(personal_consumption_expenditure.status_code)

200
200
200
200

In [4]:
# Convert responses to JSONs
production_json = production.json()
imports_json = imports.json()
supply_json = supply.json()
wti_json = wti.json()
cpi_json = cpi.json()
unemp_json = unemployment.json()
pce_json = personal_consumption_expenditure.json()

In [5]:
# Extract EIA Data
production_series = production_json['series'][0]
imports_series = imports_json['series'][0]
supply_series = supply_json['series'][0]

In [6]:
production_df = pd.DataFrame(production_series['data'])
imports_df = pd.DataFrame(imports_series['data'])
supply_df = pd.DataFrame(supply_series['data'])

In [7]:
# Extract FRED Data
wti_observations = wti_json['observations']
Date = []
Value = []
for observation in wti_observations:
    Date.append(observation['date'])
    Value.append(observation['value'])
wti_df = pd.DataFrame(list(zip(Date,Value)))

In [8]:
cpi_observations = cpi_json['observations']
Date = []
Value = []
for observation in cpi_observations:
    Date.append(observation['date'])
    Value.append(observation['value'])
cpi_df = pd.DataFrame(list(zip(Date,Value)))

In [11]:
unemp_observations = unemp_json['observations']
Date = []
Value = []
for observation in unemp_observations:
    Date.append(observation['date'])
    Value.append(observation['value'])
unemp_df = pd.DataFrame(list(zip(Date,Value)))
unemp_df.head()

            0    1
0  1948-01-01  3.4
1  1948-02-01  3.8
2  1948-03-01  4.0
3  1948-04-01  3.9
4  1948-05-01  3.5

In [12]:
pce_observations = pce_json['observations']
Date = []
Value = []
for observation in pce_observations:
    Date.append(observation['date'])
    Value.append(observation['value'])
pce_df = pd.DataFrame(list(zip(Date,Value)))
pce_df.head()

            0      1
0  1959-01-01  306.1
1  1959-02-01  309.6
2  1959-03-01  312.7
3  1959-04-01  312.2
4  1959-05-01  316.1

In [13]:
# COnverting to datetime 
production_df.iloc[:,0] = pd.to_datetime(production_df.iloc[:,0],format='%Y%m%d', errors='raise')
imports_df.iloc[:,0] = pd.to_datetime(production_df.iloc[:,0],format='%Y%m%d', errors='raise')
supply_df.iloc[:,0] = pd.to_datetime(production_df.iloc[:,0],format='%Y%m%d', errors='raise')
wti_df.iloc[:,0] = pd.to_datetime(wti_df.iloc[:,0],format='%Y-%m-%d', errors='raise')
cpi_df.iloc[:,0] = pd.to_datetime(cpi_df.iloc[:,0],format='%Y-%m-%d', errors='raise')
unemp_df.iloc[:,0] = pd.to_datetime(unemp_df.iloc[:,0],format='%Y-%m-%d', errors='raise')
pce_df.iloc[:,0] = pd.to_datetime(pce_df.iloc[:,0],format='%Y-%m-%d', errors='raise')
pce_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 733 entries, 0 to 732
Data columns (total 2 columns):
0    733 non-null datetime64[ns]
1    733 non-null object
dtypes: datetime64[ns](1), object(1)
memory usage: 11.5+ KB

In [14]:
# Rename columns
production_df = production_df.rename(columns = {0:'Date', 1:'Production (thousand barrels per day)'}).sort_values(by='Date').reset_index(drop=True)
imports_df = imports_df.rename(columns = {0:'Date', 1:'Imports (thousand barrels per day)'}).sort_values(by='Date').reset_index(drop=True)
supply_df = supply_df.rename(columns = {0:'Date', 1:'Supply (thousand barrels per day)'}).sort_values(by='Date').reset_index(drop=True)
wti_df = wti_df.rename(columns = {0:'Date', 1:'Price of Barrel (usd)'}).sort_values(by='Date')
cpi_df = cpi_df.rename(columns = {0:'Date', 1:'Core CPI (index 1982-1984=100)'}).sort_values(by='Date')
unemp_df = unemp_df.rename(columns = {0:'Date', 1:'Unemployment (%)'}).sort_values(by='Date')
pce_df = pce_df.rename(columns = {0:'Date', 1:'Personal Consumption Expenditure (billions of usd)'}).sort_values(by='Date')
pce_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 733 entries, 0 to 732
Data columns (total 2 columns):
Date                                                  733 non-null datetime64[ns]
Personal Consumption Expenditure (billions of usd)    733 non-null object
dtypes: datetime64[ns](1), object(1)
memory usage: 17.2+ KB

In [15]:
# Merge EIA data and WTI
data_frames = [supply_df,imports_df,production_df,wti_df]
df_merged = reduce(lambda  left,right: pd.merge(left,right,on=['Date'],
                                            how='left'), data_frames)
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1531 entries, 0 to 1530
Data columns (total 5 columns):
Date                                     1531 non-null datetime64[ns]
Supply (thousand barrels per day)        1531 non-null int64
Imports (thousand barrels per day)       1531 non-null int64
Production (thousand barrels per day)    1531 non-null int64
Price of Barrel (usd)                    1531 non-null object
dtypes: datetime64[ns](1), int64(3), object(1)
memory usage: 71.8+ KB

In [16]:
# Merge FRED data
data_frames = [pce_df, cpi_df, unemp_df]
indicators_merged = reduce(lambda  left,right: pd.merge(left,right,on=['Date'],
                                            how='left'), data_frames)
indicators_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 733 entries, 0 to 732
Data columns (total 4 columns):
Date                                                  733 non-null datetime64[ns]
Personal Consumption Expenditure (billions of usd)    733 non-null object
Core CPI (index 1982-1984=100)                        733 non-null object
Unemployment (%)                                      733 non-null object
dtypes: datetime64[ns](1), object(3)
memory usage: 28.6+ KB

In [19]:
# Creating new datetime columns to merge on
indicators_merged['Merge Date']= indicators_merged['Date'].dt.strftime('%m-%Y')
indicators_merged.head()

,Date,Personal Consumption Expenditure (billions of usd),Core CPI (index 1982-1984=100),Unemployment (%),Merge Date
0,1959-01-01,306.1,29.9,6.0,01-1959
1,1959-02-01,309.6,29.9,5.9,02-1959
2,1959-03-01,312.7,30,5.6,03-1959
3,1959-04-01,312.2,30,5.2,04-1959
4,1959-05-01,316.1,30.1,5.1,05-1959

In [20]:
df_merged['Merge Date'] = df_merged['Date'].dt.strftime('%m-%Y')
df_merged.head()

,Date,Supply (thousand barrels per day),Imports (thousand barrels per day),Production (thousand barrels per day),Price of Barrel (usd),Merge Date
0,1990-11-16,16588,5637,6910,31.50,11-1990
1,1990-11-23,17019,5610,7440,30.69,11-1990
2,1990-11-30,15686,4532,7235,32.32,11-1990
3,1990-12-07,17753,5007,6996,27.72,12-1990
4,1990-12-14,16901,5236,7474,26.39,12-1990

In [21]:
# Merging and cleaning columns
final_df = pd.merge(df_merged, indicators_merged, how='left', on='Merge Date')
final_df = final_df[['Date_x', 'Merge Date', 'Personal Consumption Expenditure (billions of usd)','Core CPI (index 1982-1984=100)',
          'Unemployment (%)', 'Supply (thousand barrels per day)', 'Imports (thousand barrels per day)', 'Production (thousand barrels per day)', 
          'Price of Barrel (usd)']]
final_df = final_df.rename(columns = {"Date_x":"Date", "Merge Date":"Month"})

In [49]:
PriceOfBarrel = final_df["Price of Barrel (usd)"]
StaggeredList=[]
count=1
while(count<len(PriceOfBarrel)):
    StaggeredList.append(PriceOfBarrel[count])
    count +=1
StaggeredList.append(0)
final_df2 = final_df.copy()
final_df2 ["Staggered Price of Barrel"] = StaggeredList
final_df2 = final_df2.iloc[:1525]

final_df2['Personal Consumption Expenditure (billions of usd)'] = pd.to_numeric(final_df2['Personal Consumption Expenditure (billions of usd)'],errors='coerce')
final_df2['Core CPI (index 1982-1984=100)'] = pd.to_numeric(final_df2['Core CPI (index 1982-1984=100)'],errors='coerce')
final_df2['Unemployment (%)'] = pd.to_numeric(final_df2['Unemployment (%)'],errors='coerce')
final_df2['Price of Barrel (usd)'] = pd.to_numeric(final_df2['Price of Barrel (usd)'],errors='coerce')
final_df2['Staggered Price of Barrel'] = pd.to_numeric(final_df2['Staggered Price of Barrel'],errors='coerce')

final_df2.info()
final_df2.to_csv("Data.csv")

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1525 entries, 0 to 1524
Data columns (total 10 columns):
Date                                                  1525 non-null datetime64[ns]
Month                                                 1525 non-null object
Personal Consumption Expenditure (billions of usd)    1525 non-null float64
Core CPI (index 1982-1984=100)                        1525 non-null float64
Unemployment (%)                                      1525 non-null float64
Supply (thousand barrels per day)                     1525 non-null int64
Imports (thousand barrels per day)                    1525 non-null int64
Production (thousand barrels per day)                 1525 non-null int64
Price of Barrel (usd)                                 1525 non-null float64
Staggered Price of Barrel                             1525 non-null float64
dtypes: datetime64[ns](1), float64(5), int64(3), object(1)
memory usage: 131.1+ KB

In [23]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
X = final_df2[["Personal Consumption Expenditure (billions of usd)",
              "Core CPI (index 1982-1984=100)",
              "Unemployment (%)",
              "Supply (thousand barrels per day)",
              "Imports (thousand barrels per day)",
              "Production (thousand barrels per day)"]]
y = final_df2["Staggered Price of Barrel"].values.reshape(-1, 1)
y.shape
model.fit(X,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [24]:
score = model.score(X, y)
print(f"R2 Score: {score}")

R2 Score: 0.7828987651868239

In [25]:
import matplotlib.pyplot as plt
predictions = model.predict(X)
# Plot Residuals
plt.scatter(predictions, predictions - y)
plt.hlines(y=0, xmin=predictions.min(), xmax=predictions.max())
plt.show()

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)
model.fit(X_train, y_train)
training_score = model.score(X_train, y_train)
testing_score = model.score(X_test, y_test)
print(f"Training Score: {training_score}")
print(f"Testing Score: {testing_score}")

plt.scatter(model.predict(X_train), model.predict(X_train) - y_train, c="blue", label="Training Data")
plt.scatter(model.predict(X_test), model.predict(X_test) - y_test, c="orange", label="Testing Data")
plt.legend()
plt.hlines(y=0, xmin=y.min(), xmax=y.max())
plt.title("Residual Plot")

In [ ]:
# from classwork 22-1-8:
#I guess this scales the data???
from sklearn.preprocessing import StandardScaler
X_scaler = StandardScaler().fit(X_train)
y_scaler = StandardScaler().fit(y_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)
y_train_scaled = y_scaler.transform(y_train)
y_test_scaled = y_scaler.transform(y_test)
predictions = model.predict(X_test_scaled)
model.fit(X_train_scaled, y_train_scaled)
plt.scatter(model.predict(X_train_scaled), model.predict(X_train_scaled) - y_train_scaled, c="blue", label="Training Data")
plt.scatter(model.predict(X_test_scaled), model.predict(X_test_scaled) - y_test_scaled, c="orange", label="Testing Data")
plt.legend()
plt.hlines(y=0, xmin=y_test_scaled.min(), xmax=y_test_scaled.max())
plt.title("Residual Plot")
plt.show()

In [ ]:
# still from 22-1-8:

from sklearn.metrics import mean_squared_error

MSE = mean_squared_error(y_test_scaled, predictions)
r2 = model.score(X_test_scaled, y_test_scaled)
### END SOLUTION

print(f"MSE: {MSE}, R2: {r2}")

In [ ]:
# 22-1-8:  The Lasso model is less effective for our data??

from sklearn.linear_model import Lasso

### BEGIN SOLUTION
lasso = Lasso(alpha=.01).fit(X_train_scaled, y_train_scaled)

predictions = lasso.predict(X_test_scaled)

MSE = mean_squared_error(y_test_scaled, predictions)
r2 = lasso.score(X_test_scaled, y_test_scaled)
### END SOLUTION

print(f"MSE: {MSE}, R2: {r2}")

In [ ]:
# Ridge model (22-1-8)
# Note: Use an alpha of .01 when creating the model for this activity
from sklearn.linear_model import Ridge

### BEGIN SOLUTION
ridge = Ridge(alpha=.01).fit(X_train_scaled, y_train_scaled)

predictions = ridge.predict(X_test_scaled)

MSE = mean_squared_error(y_test_scaled, predictions)
r2 = ridge.score(X_test_scaled, y_test_scaled)
### END SOLUTION

print(f"MSE: {MSE}, R2: {r2}")

In [ ]:
# ElasticNet model
# Note: Use an alpha of .01 when creating the model for this activity, 22-1-8
from sklearn.linear_model import ElasticNet

### BEGIN SOLUTION
elasticnet = ElasticNet(alpha=.01).fit(X_train_scaled, y_train_scaled)

predictions = elasticnet.predict(X_test_scaled)

MSE = mean_squared_error(y_test_scaled, predictions)
r2 = elasticnet.score(X_test_scaled, y_test_scaled)
### END SOLUTION

print(f"MSE: {MSE}, R2: {r2}")