In [1]:
import pandas as pd
import json
import requests
import pprint
from functools import reduce
from keys import fred_key, eia_key

In [2]:
production = requests.get("https://api.eia.gov/series/?api_key="+ eia_key +"&series_id=PET.WCRFPUS2.W")
imports = requests.get("http://api.eia.gov/series/?api_key="+ eia_key +"&series_id=PET.WCRIMUS2.W")
supply = requests.get("http://api.eia.gov/series/?api_key="+ eia_key +"&series_id=PET.WRPUPUS2.W")

# The WTI returns price for the week ending Friday. This is the same release dat as the eia data
wti = requests.get("https://api.stlouisfed.org/fred/series/observations?series_id=WCOILWTICO&frequency=wef&api_key="+ fred_key +"&file_type=json")
print(production.status_code)
print(imports.status_code)
print(supply.status_code)
print(wti.status_code)

200
200
200
200

In [3]:
production_json = production.json()
imports_json = imports.json()
supply_json = supply.json()
wti_json = wti.json()

In [4]:
production_series = production_json['series'][0]
imports_series = imports_json['series'][0]
supply_series = supply_json['series'][0]

In [5]:
production_df = pd.DataFrame(production_series['data'])
imports_df = pd.DataFrame(imports_series['data'])
supply_df = pd.DataFrame(supply_series['data'])

In [6]:
wti_observations = wti_json['observations']
Date = []
Value = []
length = len(wti_observations)
for observation in wti_observations:
    Date.append(observation['date'])
    Value.append(observation['value'])
wti_df = pd.DataFrame(list(zip(Date,Value)))

In [7]:
production_df.iloc[:,0] = pd.to_datetime(production_df.iloc[:,0],format='%Y%m%d', errors='raise')
imports_df.iloc[:,0] = pd.to_datetime(production_df.iloc[:,0],format='%Y%m%d', errors='raise')
supply_df.iloc[:,0] = pd.to_datetime(production_df.iloc[:,0],format='%Y%m%d', errors='raise')
wti_df.iloc[:,0] = pd.to_datetime(wti_df.iloc[:,0],format='%Y-%m-%d', errors='raise')

In [8]:
production_df = production_df.rename(columns = {0:'Date', 1:'Production (thousand barrels per day)'}).sort_values(by='Date').reset_index(drop=True)
imports_df = imports_df.rename(columns = {0:'Date', 1:'Imports (thousand barrels per day)'}).sort_values(by='Date').reset_index(drop=True)
supply_df = supply_df.rename(columns = {0:'Date', 1:'Supply (thousand barrels per day)'}).sort_values(by='Date').reset_index(drop=True)
wti_df = wti_df.rename(columns = {0:'Date', 1:'Price of Barrel (usd)'}).sort_values(by='Date')

In [9]:
data_frames = [supply_df,imports_df,production_df,wti_df]
df_merged = reduce(lambda  left,right: pd.merge(left,right,on=['Date'],
                                            how='left'), data_frames)

In [10]:
df_merged.tail()

,Date,Supply (thousand barrels per day),Imports (thousand barrels per day),Production (thousand barrels per day),Price of Barrel (usd)
1526,2020-02-14,19590,6547,13000,50.83
1527,2020-02-21,19884,6217,13000,53.14
1528,2020-02-28,21272,6238,13100,48.36
1529,2020-03-06,21860,6412,13000,45.57
1530,2020-03-13,21477,6539,13100,32.39

In [11]:
df_merged.head()

,Date,Supply (thousand barrels per day),Imports (thousand barrels per day),Production (thousand barrels per day),Price of Barrel (usd)
0,1990-11-16,16588,5637,6910,31.50
1,1990-11-23,17019,5610,7440,30.69
2,1990-11-30,15686,4532,7235,32.32
3,1990-12-07,17753,5007,6996,27.72
4,1990-12-14,16901,5236,7474,26.39